__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
venv/
.venv/
env/
.env.*
staticfiles/
*.log
.DS_Store
.idea/
media/products/airpods_V4rudKp.png
media/products/airpods_rJiUQWo.png
media/products/airpods_t0Y7fW4.png

media/products/hp_victus_LZAwT3l.png
media/products/hp_victus_RsMYbBp.png
media/products/hp_victus_wa4jdVx.png

media/products/iphone17_ScQAqlU.png
media/products/iphone17_Xy8ji3u.png
media/products/iphone17_YrU7eED.png

media/products/jbl_livebeam_NrBom85.png
media/products/jbl_livebeam_S2i7C2E.png
media/products/jbl_livebeam_XsDLC2A.png

media/products/macbook_1JRp8yI.png
media/products/macbook_JU9aUN2.png
media/products/macbook_hwEZwOB.png

media/products/msi_handheld_OzMyapg.png
media/products/msi_handheld_eFBzyeq.png
media/products/msi_handheld_izK49XO.png

media/products/pixel10_DVMPZh2.png
media/products/pixel10_aqnJZ4I.png
media/products/pixel10_pmDai7c.png

media/products/ps5_3wPIAIj.png
media/products/ps5_A8768zM.png
media/products/ps5_HyVfkpI.png

media/products/razr60_8LaDUoT.png
media/products/razr60_JHO8kgV.png
media/products/razr60_dh9K64G.png

media/products/s26_ultra_2Oqbdgd.png
media/products/s26_ultra_AZJb5Oc.png
media/products/s26_ultra_cYhDCI4.png

media/products/skullcandy_BtxMoPJ.png
media/products/skullcandy_dd5Se3P.png
media/products/skullcandy_pdQuafq.png

media/products/steamdeck_HAdjREB.png
media/products/steamdeck_wfOsZ3h.png
media/products/steamdeck_x5SCzCY.png

media/products/surfacepro_27nFlIC.png
media/products/surfacepro_iDd0JVs.png
media/products/surfacepro_y6k0oXj.png

media/products/thinkpad_3ICN9fZ.png
media/products/thinkpad_Xy8z1Zl.png
media/products/thinkpad_jthvHXZ.png

media/products/zenbook_MAekr5Q.png
media/products/zenbook_RGu59XR.png
media/products/zenbook_wKqRyus.png

media/products/zfold7_8R7p1Gr.png
media/products/zfold7_RgZGGQb.png
media/products/zfold7_ovNiEUW.png